.block {
    &-split {
        display: flex;
        align-items: center;
        flex-direction: column;

        @include tablet(1) {
            flex-direction: row;
        }

        > * {
            position: relative;
        }

        .media {
            @include tablet(1) {
                width: 35%;
            }

            img {
                width: 100%; height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }

        .content {
            @include tablet(1) {
                width: 65%;
                padding: var(--u10);
            }

            p {
                margin-top: var(--u3);

                strong, em {
                    color: var(--darkPink);
                }
            }

            padding: var(--u2);

            * { text-align: left; }
        }
    }
}


.hero--about {
    --height: 80vh !important;
    &::before {
        --height: 60vh;
    }

    .container {
        display: flex;
        flex-direction: column;

        @include tablet(1) {
            flex-direction: row;
        }

        .block-split {
            > * {
                position: relative;
            }

            .media {
                border: var(--u3) solid var(--white);
                height: 90%;
                
                @include tablet(1) {
                    width: 60%;
                }
            }

            .content {
                @include tablet(1) {
                    width: 40%;
                }

                p { @extend %titleDefault; font-style: normal; }

                .title-head {
                    --color-title: var(--middleGray);
                    margin-bottom: var(--u3);

                    h2:first-child {--font-size: var(--fontSize-h3);}
                }
            }
        }
    }
}