.card {
    position: relative;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);

    max-width: calc(calc(calc(100% / var(--display)) - calc(var(--gutter) / calc(var(--display) - 1))) - calc(var(--display) * 2px));
    width: 100%;

    &__cover {
        height: var(--coverHeight);
        overflow: hidden;

        img {
            width: 100%; height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    &__content {
        padding: var(--padding);
    }

    &__title {
        --font-size: var(--fontSize-h3);
        @extend %titleHandwritten;
    }
    
    &__descr {
        @extend %small-text;
        margin-top: var(--u1);
    } 
}