%nav {
    display: flex;

    @media screen and (max-width: $tablet) {
        overflow: scroll;
        width: 100%;
        
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

%has-children {
    position: relative;
    
    @media screen and (max-width: $tablet) {
        display: flex;
    }
}

%sub-nav {
    --background-color: var(--light-pink);

    display: flex;
    background-color: var(--background-color);

    @media screen and (min-width: $tablet-min) {
        position: absolute;
        left: 50%;
        display: block;
        
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, var(--u4));
        transition: all .3s ease-out;
    }
}


// WORDPRESS CLASSES
nav, .menu {
    @extend %nav;
}

.menu-item {
    &-has-children {
        @extend %has-children;

        .sub-menu {
            @extend %sub-nav;
        }

        &::after {
            @extend %dropdown-icon;
            right: 4px;
            @media screen and(max-width: $tablet){
                display: none;
            }
        }
    }
}

.menu-item-has-children {
    &:hover {
            @media screen and(min-width: $tablet-min) {
                .sub-menu {
                    transform: translate(-50%, 0);
                    opacity: 1;
                    visibility: visible;

                    --background-color: var(--lightPink);
                    background-color: var(--background-color);
                }
            }
        }
}