%nav {
    display: flex;
    text-align: center;

    @media screen and (max-width: 1080px) {
        flex-direction: column;

        overflow: scroll;
        width: 100%;
        
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

%nav-mobile {
    @media screen and (max-width: 1080px) {
        left: -16px; 
        
        width: calc(100% + 32px) !important;
        
        z-index: 200;
        background: var(--lightPink);
        overflow-y: scroll;
    }
}

.head-nav {
    @extend %nav-mobile;

    @media screen and (max-width: 1080px) {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transform: translateY(24px);
        transition: all .3s ease-out;

        &[data-state="open"] {
            display: inherit !important;
            visibility: visible !important;
            opacity: 1 !important;
            pointer-events: auto;
            position: fixed;
            transform: translateY(0);
        }
    }
}

%has-children {
    position: relative;

    @media screen and (max-width: 1080px) {
        --hoverColor: var(--lightPinkHover);

        flex-direction: column;
        display: flex;
        
        &:not(.lang__wrapper) {
            background: var(--hoverColor);
        }
    }

}

%sub-nav {
    --background-color: var(--light-pink);

    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

    @include tablet(1) {
        position: absolute;
        left: 50%;
        display: block;
        
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, var(--u4));
        transition: all .3s ease-out;
    }
}

%nav-trigger {
    @media screen and (min-width: 1081px) {
        display: none;
    }
}

.nav-trigger {
    @extend %nav-trigger;
}


// WORDPRESS CLASSES
nav, .menu, .menu > ul {
    @extend %nav;

    footer & {
        flex-direction: column;
        margin-top: var(--u10);
    }
}

.menu-item, .page_item {
    &-has-children, &_has_children {
        @extend %has-children;

        .sub-menu {
            @extend %sub-nav;
        }

        &::after {
            @extend %dropdown-icon;
            position: absolute;
            bottom: 16px; right: 50%;
            @media screen and(max-width: $tablet){
                display: none;
            }
        }
    }
}

.menu-item-has-children {
    &:hover {
            @media screen and(min-width: $tablet-min) {
                .sub-menu {
                    transform: translate(-50%, 0);
                    opacity: 1;
                    visibility: visible;

                    --background-color: var(--lightPink);
                    background-color: var(--background-color);
                }
            }
        }
}



/*
*
* ==================================================================================
* MOBILE
* ==================================================================================
*
*/

body {
    &.no-scroll {
        max-height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .topbar__main {
        > .container {
            height: 100%;

            &.open {
                // pointer-events: default;
            }
        }
    }
}

#menu_trigger:checked + label {
    background: red;
}


.head-nav.mobile-nav {
    display: none;

    @include mobile {
        display: inherit;
    }
}

.head-nav.desktop-nav {
    display: inherit;
    
    @include mobile {
        display: none;
    }
}