.topbar {
    --backgroundColor : var(--lightPink);
    &__head {
        --backgroundColor : var(--darkPink);
        --color-text : var(--white);
    }

    &, &__head, &__main {
        background-color: var(--backgroundColor);
    }
}


.topbar {
    position: relative;
    z-index: 10;

    &__head {
        display: flex;
        justify-content: space-between;

        .left, .right, .socials {
            display: flex;

            > *:not(:last-child) {
                margin-right: var(--u1);
            }
        }
    }

    &__main {
        --padding: 0;
        @media screen and(max-width: $desktop) {
            --padding: var(--u2);
        }

        padding: 0 var(--padding);

        .container {
            display: flex;
            flex-wrap: wrap;

            @include mobile {
                nav {
                    width: 100%;
                }
                .flex {
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: var(--u1) 0;
                }
            }
        }
        
        nav {
            margin-left: auto;
        }

        &[data-sticky="true"] {
            position: fixed;
            top: 0; left: 0; right: 0;
        }
    }
}