%brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
        width: auto;
        height: calc(var(--u10) - var(--u2));

        transform-origin: top left;
        transform: scale(var(--scale));
        transition: transform .3s ease-out;

        @include mobile {
            transform: none;
        }
    }
}


// WORDPRESS CLASSES

.brand {
    @extend %brand-logo;
}