%brand-logo {
    display: flex;

    > img {
        width: auto;
        height: calc(var(--u10) - var(--u2));
        margin: auto;

        transform-origin: top left;
        transform: scale(1.6);
        transition: transform .3s ease-out;
    }
}


// WORDPRESS CLASSES

.brand {
    @extend %brand-logo;

    @media screen and(max-width: $tablet) {
        display: none;
    }
}