%button {
    --border-color: var(--darkPink);
    --color: currentColor;
    --font-size : var(--fontSize-small);

    display: inline-block;
    padding: var(--u2) var(--u5);
    
    border: 1px solid var(--border-color);
    color: var(--color);

    @extend %all-caps;
    font-size: var(--font-size);
    text-align: center;

    position: relative;
    z-index: 0;
    transition: color .6s linear;

    &::before {
        display: block; content: '';
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0;
        z-index: -1;
        
        transition: all .6s cubic-bezier(0.65, 0, 0.35, 1);
        background: var(--darkPink);
        transform-origin: center left;
        transform: scaleX(0);
    }

    &::after {
        display: block; content: '';
        width: 60px; height: 1px;
        background: var(--lightPink);

        position: absolute;
        top: calc(50% - 1px); left: -30px;

        transition: all .6s cubic-bezier(0.65, 0, 0.35, 1) .15s;
        transform-origin: center left;
        transform: scaleX(0);
    }

    &:hover {
        --color: var(--lightPink);
    }

    &:hover::before {
        transform: scaleX(1);
    }
    &:hover::after {
        transform: scaleX(1);
    }

    @include mobile {
        width: 100%;
        text-align: center;
    }

    &:visited {
        color: var(--color) !important;
    }
}

.wp-block-button__link, .button {
    @extend %button;
    
    background-color: transparent;
    border-radius: 0;
}

input[type='submit'] {
    font-family: var(--playfair);
    cursor: pointer;

    &:hover {
        background-color: var(--darkPink) !important;
        color: var(--white);
    }
}

.wp-block-buttons, .wp-block-button {
    @include mobile {
        width: 100%;
    }
}

.floatingButton {
    font-size: 16px;
    letter-spacing: .6px;
    background-color: var(--darkPink);
    color: var(--lightPink) !important;
    font-weight: 500;

    position: fixed;
    bottom: 48px; right: 48px;
    z-index: 100;

    .page-template-template_appointment & {
        display: none;
    }

    @include mobile {
        bottom: 8px;
        right: 8px; left: 8px;
        width: calc(100% - 16px);
        border-radius: 4px;
        justify-content: center;
        font-size: 14px;
    }

    @extend %button;

    display: flex;
    align-items: center;

    &:visited {
        color: var(--lightPink) !important;
    }

    &__icon {
        width: 24px; height: 24px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 16px;
    }
}