%button {
    --border-color: var(--darkPink);
    --color: currentColor;
    --font-size : var(--fontSize-small);

    display: inline-block;
    padding: var(--u2) var(--u5);
    
    border: 1px solid var(--border-color);
    color: var(--color);

    @extend %all-caps;
    font-size: var(--font-size);
    text-align: center;

    &:hover {
        background-color: var(--border-color);
        --color: var(--white);
    }

    @include mobile {
        width: 100%;
        text-align: center;
    }
}

.wp-block-button__link, .button {
    @extend %button;
    
    background-color: transparent;
    border-radius: 0;
}

.wp-block-buttons, .wp-block-button {
    @include mobile {
        width: 100%;
    }
}