%icon {
    --size: var(--u2);

    display: block;
    width: var(--size);
    height: var(--size);
    
    background-repeat: no-repeat;
    background-size: contain;
}

// CLASSES

.icon {
    @extend %icon;
    position: relative;

    &-instagram {
        background-image: url("../icons/instagram.svg");
    }
    &-facebook {
        background-image: url("../icons/facebook.svg");
    }
    &-pinterest {
        background-image: url("../icons/pinterest.svg");
    }
    &-instagram-dark {
        background-image: url("../icons/instagram_dark.svg");
    }
    &-facebook-dark {
        background-image: url("../icons/facebook_dark.svg");
    }
    &-pinterest-dark {
        background-image: url("../icons/pinterest_dark.svg");
    }
    &-prev {
        background-image: url("../icons/arrow.svg");
        transform: rotate(180deg);
    }
    &-next {
        background-image: url("../icons/arrow.svg");
    }

    &--stamp {
        --background-color: var(--dark-pink);

        &::before {
            display: block;
            content: '';
            
            width: calc(var(--size) * 2);
            height: calc(var(--size) * 2);
            border-radius: 50%;
            
            position: absolute;
            top: -50%; left: -50%;
            z-index: -1;

            background-color: var(--background-color);
        }
    }
}


.icon-before {
    display: flex;

    &::before {
        display: block; content: '';
        --size: var(--u2);

        width: var(--size); height: var(--size);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;

        margin-right: var(--u1);
    }

    &.icon-phone {
        &::before {
            background-image: url("../icons/phone.svg");
        }
    }
    &.icon-address {
        &::before {
            background-image: url("../icons/pin.svg");   
        }
    }
    &.icon-mail {
        &::before {
            background-image: url("../icons/mail.svg");   
        }
    }
}