.form__file {
    background: var(--lightestPink);
    padding: var(--u4);
    display: flex;
    align-content: center;
    justify-content: center;
}

input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    

    & + label {
        position: relative;
        text-align: center;

        background: var(--darkPink);
        color: var(--lightPink);
        padding: var(--u2) var(--u4);

        pointer-events: auto;
        transform: none !important;
        cursor: pointer;
    }

    &:focus + label {
        outline: 1px dotted #000;
	    outline: -webkit-focus-ring-color auto 5px;
    }
}