%nav-items {
    --padding: var(--u4) var(--u2);
    --hoverColor: var(--lightPinkHover);
    --fontSize : var(--fontSize-small);

    @media screen and (max-width: 1440px) {
        --font-size: 14px;
    }

    // @extend %text;
    @extend %all-caps;
    @extend %link;

    display: block;
    padding: var(--padding);
}

%subNav-items {
    --padding: var(--u2) 0;
    --border-color: var(--dark-pink);

    @extend %small-text;
    
    text-transform: none;
    text-align: center;
    
    width: 200px;
    padding: var(--padding);

    &:first-of-type {
        border-bottom: 1px solid var(--border-color);
    }

    @media screen and(max-width: $tablet) {
        --padding: var(--u4) var(--u1);
        width: auto;
    }
}

// WORDPRESS CLASSES
.menu-item, .page_item {
    > a {        
        &:not(.sub-menu) {
            @extend %nav-items;
            white-space: nowrap;
        }

        &:hover {
            background-color: var(--hoverColor);
        }

        .sub-menu & {
            @extend %subNav-items;
        }

        &[aria-current='page'] {
            position: relative;

            &::after {
                display: block; content: '';
                width: 100%; 
                height: calc(var(--u1) / 2);
                background: var(--darkPink);
                position: absolute;
                bottom: 0; left: 0;
            }
        } 
    }

    footer & {
        a {
            padding: 0 !important;

            --color: var(--darkPink);
            --font-size: var(--fontSize-small);
            
            font-weight: bold;
            font-size: var(--font-size);
            color: var(--color) !important;

            &[aria-current='page']::after { display: none; }
        }
    }

    .topbar .menu > &:last-child {
        a {
            background: #f0c2ba;
            color: white;
        }
    }
}