%text {
    --font-size : var(--font-size-body);
    
    font-size: var(--font-size);
    line-height: var(--lineHeight-text);
}

%small-text {
    --font-size : var(--font-size-small);
    
    font-size: var(--font-size);
}

%all-caps {    
    font-size: var(--font-size);
    text-transform: uppercase;
}

.hidden {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

// STYLES

p {
    @extend %text;
}