%text {
    --fontSize : var(--fontSize-body);
    
    font-size: var(--fontSize);
}

%small-text {
    --fontSize : var(--fontSize-small);
    
    font-size: var(--fontSize);
}

%all-caps {
    --fontSize : var(--fontSize-small);
    
    font-size: var(--fontSize);
    text-transform: uppercase;
}