.banner {
    margin-left: auto;
    @media screen and(min-width: $tablet-min) {
        max-width: calc(100% - 300px);
    }

    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
        object-fit: cover;
        object-position: 50% 50%;
        height: 70vh;
    }

    &.placeholder {
        --height: 70vh;
    }
}

%placeholder {
    width: 100%;
    height: var(--height);
    position: relative;
    z-index: 1;
    background: var(--darkPink);   
}

.placeholder {
    @extend %placeholder;
}