.form {
    visibility: hidden;

    position: absolute;
    top: 0; left: 0; right: 0;

    &--is-active {
        --border-color: var(--darkPink);
        visibility: visible;

        &.form__trigger {
            position: relative;

            &::after {
                display: block; content: '';
                width: var(--u2);
                height: 100%;
                position: absolute;
                z-index: 1;
                right: calc(var(--u1) / -2); top: 0;
                background: #fff;

                @include mobile {
                    border-left: none;
                    border-right: 1px solid var(--border-color);
                }
            }
        }
    }
}


.form {
    &__wrapper {
        @extend %all-caps;
        min-height: 350px;
        
        @include mobile {
            flex-direction: column;
        }
    }

    &__triggers {
        max-width: 450px;
        width: 30%;

        @include mobile {
            max-width: none;
            width: 100%;
            display: flex;
        }
    }
}

.forms {
    flex: 1 0 auto;
    position: relative;

    .trick {
        display: none;
    }
}


.form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &__item {
        margin-right: var(--u2);
        margin-top: var(--u2);

        &:nth-child(2n) {
            margin-right: 0;
        }

        flex-basis: calc(50% - var(--u1));
        @include mobile {
            flex-basis: 100% !important;
        }
    }

    &__message, &__action, &__file {
        flex-basis: 100%;
        margin-right: 0;
    }

    &__action {
        display: flex;
        margin-top: var(--u2);

        input {
            width: auto;
            margin-left: auto;
            @include mobile {
                width: 100%;
            }
        } 
    }

    padding: var(--u2) var(--u4);
}


.form {
    &__wrapper {
        --border-color: var(--lightGray);
    }

    &__trigger {
        display: flex;
        flex-direction: column;
        color: var(--border-color);

        padding: var(--u3);

        @include mobile {
            width: 50%;
            text-align: center;
        }

        &:first-child {
            border-left: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);

            @include mobile {
                border-left: none;
                border-right: 1px solid var(--border-color);
            }
        }
        &:last-child {
            border-left: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
            border-top: 1px solid var(--border-color);
        }
    }

    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}