.slider {
    --easing : cubic-bezier(0.83, 0, 0.17, 1);
    margin-top: var(--u8);

    text-align: center;
    
    @extend %containerSmall;
    display: flex;

    &__item {
        @extend %containerSmall;
        
        flex: 0 0 100%;

        text-align: center;
        font-style: italic;
        
        display: inline-block;
        transition: all .6s var(--easing);

        opacity: 0;

        &--is-active {
            opacity: 1;
        }
    }
}

.tns-slider {
    height: 100%;

    > img {
        height: 100%;
    }
}


/*
*
* SLIDER HERO
*
*/

.hero-slider {
    overflow: hidden;
    height: 100%;
}
.js-heroslider {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;

    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
    cursor: e-resize;

    li { width: 100%; height: 100%; }

    img {
        width: 100%; min-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}