:root {
    --lightPink : #f3eeee;
    --lightPinkHover : #F0E7E7;
    --lightestPink : #F7F4F5;

    --pastel : #D7BFB7;
    --darkPink : #dda193;
    --lightGray : #ddd;
    --middleGray : #555555;
    --white : #ffffff;
}

body {
    background-color: var(--white);
}