:root {
    --unit : 8px;

    --u1: var(--unit);
    --u2 : calc(var(--unit)*2);
    --u3 : calc(var(--unit)*3);
    --u4 : calc(var(--unit)*4);
    --u5 : calc(var(--unit)*5);
    --u6 : calc(var(--unit)*6);
    --u7 : calc(var(--unit)*7);
    --u8 : calc(var(--unit)*8);
    --u9 : calc(var(--unit)*9);
    --u10 : calc(var(--unit)*10);

    --maxWidth: 1440px;
    --containerSmall : calc(var(--u8) * 11);
}

%full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

%container {
    @extend %full-width;
    max-width: var(--maxWidth);
    position: relative;
}

%containerSmall {
    @extend %full-width;
    max-width: var(--containerSmall);
    position: relative;
}

.container {
    @extend %container;
}

%full-width-padded {
    --gutter : var(--u4);

    width: calc(100% - var(--gutter));
    margin: 0 auto;
}