.blog {
    --gutter: var(--u10);
    --display: 2;

    --background-color: var(--lightPink);
    --border-color: var(--darkPink);

    main {
        ul {
            display: flex;
            flex-wrap: wrap;

            @include mobile {
                --display: 1;
            }
    
            .card {
                margin-bottom: var(--gutter);
    
                @include tablet(1) {
                    margin-right: var(--gutter);
                    
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: 0 24px 16px -16px #ddd;
                }

                transition: .3s ease-out;
            }
        }

        padding-top: var(--u10);
    }
}