.home {
    .about {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include tablet(1) {
                flex-direction: row;
            }

            .media {
                position: relative;
                @extend %full-width-padded;

                @include mobile {
                    margin-top: var(--u3);
                }

                @include tablet(1) {
                    order: 1;
                    width: 60%;
                    margin-right: auto;
                }
                > img {
                    width: 100%;
                    max-height: 400px;
                    object-fit: cover;
                }
                > a {
                    background-color: var(--darkPink);
                    color: #fff;

                    @include tablet(1) {
                        position: absolute;
                        right: -8px; bottom: var(--u4);
                    }

                    @include mobile {
                        margin-bottom: var(--u4);
                    }
                }
            }

            .content {
                @extend %full-width-padded;

                @include tablet(1) {
                    order: 2;
                    width: 30%;
                    margin-left: auto;

                    text-align: right;
                }

                p {
                    font-style: italic;
                }
            }
        }
    }
}


.home {
    .hero {
        @include tablet(1) {
            position: relative;
            --height: 75vh;

            &::after {
                display: block; content: '';
                width: 45%;
                background: var(--lightPink);
    
                position: absolute;
                left: 0; bottom: 0; top: 0;
                z-index: 0;
            }
        }
    }

    section.about {
        @include tablet(1) {
            position: relative;

            &::after {
                display: block; content: '';
                width: 45%;
                background: var(--lightPink);
    
                position: absolute;
                left: 0; 
                bottom: -40px;
                top: calc(-1 * var(--section-margin));
                z-index: -1;
            }
        }
    }
}


.home {
    .testimonials {
        position: relative;
        overflow: visible;

        @include mobile{
            overflow: hidden;
        }

        &::before {
            @include mobile{
                display: none;
            }

            display: block;
            content: '';
            width: calc(40% + var(--gutter));
            height: calc(100% + calc(var(--section-margin) * 1.4));
            background: #faf8f8;

            position: absolute;
            top: calc(var(--section-margin) * -1); 
            right: calc(var(--gutter) * -1);
            z-index: 0;
        }
    }
}


.quote {
    &__blob {
        display: none;
    }
}
.home {
    .quote {
        position: relative;

        &__blob {
            @include mobile{
                display: none;
            }

            display: block;
            transform: scale(.5);
            transform-origin: top left;
            
            position: absolute;
            top: 0;
            left: 0;

            mix-blend-mode: multiply;
        }
    }
}


.home {
    .instagram {
        position: relative;
        overflow: visible;

        &::before {
            @include mobile{
                display: none;
            }

            display: block;
            content: '';
            width: 45%;
            height: 760px;
            background: var(--lightPink);

            position: absolute;
            bottom: 0; 
            left: 0;
            z-index: 0;
        }
    }
}


body {
    overflow-x: hidden;
}

.home {
    .tns-outer {
        @include tablet(1) {
            max-width: calc(100% - 300px);
            height: 100%;
            margin-left: auto;
        }
    }
    .hero-slider {
        width: 100%; height: 100%;
        overflow: hidden;
    }
}


.tns-outer {
    position: relative;
    z-index: 1;

    height: 100%;

    cursor: e-resize;

    > *, .tns-inner, img {
        height: 100%;
    }

    img {
        object-fit: cover;
        object-position: center;
        width: 100%; height: 100%;
    }
}