.post-content{
    max-width: 720px;
    width: 100%;
    margin: var(--u10) auto;

    @include mobile {
        padding: 0 var(--u2);
    }

    h1 {
        font-size: var(--fontSize-h1);
        margin-bottom: var(--u8);
        padding-bottom: var(--u8);
        text-align: center;
        border-bottom: 1px solid var(--lightPink);
    }

    h2 {
        font-size: var(--fontSize-h2);
        margin-bottom: var(--u2);
    }
    h3 {
        font-size: var(--fontSize-h3);
        margin-bottom: var(--u2);
    }
    p {
        font-style: normal;
        margin-bottom: var(--u2);
    }

    a {
        @extend %link;
        color: var(--darkPink);

        &:hover {
            border-bottom: 1px solid;
        }
    }
    
    ul {
        margin-bottom: var(--u2);

        li {
            list-style-type: disc;
            list-style-position: inside;
            margin-bottom: var(--u1);
        }
    }

    strong {
        font-weight: 700;
    }

    figure {
        margin: var(--u8) 0;

        figcaption {
            font-size: var(--fontSize-small);
        }
    }
}