footer.footer {
    --background-color: var(--lightPink);

    margin-top: calc(var(--u10) * 2.5);
    background-color: var(--background-color);

    .home & {
        margin-top: 0;
    }

    @include tablet {
        padding-left: var(--u2);
        padding-right: var(--u2);
    }

    .container {
        display: flex;
        flex-direction: column;

        padding: var(--u10) var(--u2);
    
        
        @include tablet(1) {
            flex-direction: row;
            padding: var(--u10) 0;
        }

        .row {
            flex: 0 1 33%;
            &:not(:last-child) {
                margin-bottom: var(--u10);
                @include tablet(1) {
                    margin-bottom: 0;
                    margin-right: var(--u10);
                }
            }

            ul {
                li {
                    &:not(:last-child) {
                        margin-bottom: var(--u1);
                    }
                }
            }
        }
    }
}


.footer {
    h3 {
        --font-size: var(--fontSize-h4);

        @extend %all-caps;
        @extend %text;

        margin-bottom: var(--u4);
        font-style: normal;

        &::after {
            display: block; content: '';
            width: var(--u10);
            height: 1px;
            background: var(--darkPink);

            margin-top: var(--u2);

            @include mobile {
                width: 100%;
            }
        }
    }

    a {
        color: var(--darkPink);
    }

    .map {
        width: 100%;
        border: var(--u1) solid white;
        margin-top: var(--u6);
    }
}


.footer {
    .hours {
        li {
            display: flex;
            .days {
                @include tablet(1) {
                    width: 200px;
                }
            }
        }
    }

    .hour {
        color: var(--darkPink);
    }
}


.footer {
    .menu {
        text-align: left;
        
        li {
            margin: 0 !important;

            a {
                padding: var(--u1) 0 !important;
            }
        }
    }

    .socials {
        display: flex;
        padding: 0;
        margin-top: var(--u2);
        
        li {
            margin-right: var(--u1);
        }
    }
}


.footer {
    background-image: url('../icons/footer.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: bottom 50px right;
}


.footer {
    &__bottom {
        display: flex;

        @include mobile {
            flex-direction: column;
            align-content: center;
            
            > * {
                margin-bottom: var(--u1);
                margin-top: var(--u1);
                line-height: 130%;
            }
        }

        background-color: var(--darkPink);

        padding: var(--u1) var(--u8);
        justify-content: space-between;

        * {
            font-size: 14px;
            color: white !important;
            font-style: italic;
        }

        .agency {
            a {
                display: flex;
                align-content: center;
                @include tablet(1) {
                    justify-content: flex-end;
                }
            }

            &__logo {
                width: 30%;
                height: 100%;
                object-fit: contain;
                object-position: center center;
                margin-left: var(--u1);
            }
        }
    }
}