.hero {
    position: relative;
    --height: 60vh;
    min-height: 580px;
    height: var(--height);

    .container { height: 100%; }
    
    .title {
        --font-size: var(--fontSize-h3);
        font-weight: bold;

        @extend %text;
        @extend %all-caps;
        font-style: normal;

        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        
        background-color: var(--white);
        padding: var(--u2) var(--u4);
    }

    &::before {
        display: block; content: '';
        width: 100%;
        height: calc(var(--height) - 10vh);
        background-color: var(--lightPink);

        position: absolute;
        top: 0; left: 0;
        z-index: 0;
    }
}














































// HOME
.home {
    .hero {
        display: flex;
        
        .banner {
            @media screen and(min-width: $tablet-min) {
                max-width: calc(100% - 300px);
            }
        }
    
        .container {
            display: flex;
            flex-direction: column;
        
            @media screen and(min-width: $tablet-min) {
                flex-direction: row;
            }
        }
    
        .content {
            --backgroundColor: var(--lightestPink);
            --padding: var(--u6) var(--u4);

            @include tablet(1) {
                --padding: var(--u10) var(--u6);
            }
    
            @media screen and(min-width: $tablet-min) {
                position: absolute;
                left: 0; top: 55%;
                transform: translateY(-50%);
                max-width: 50%;
                
                order: 1;
            }
    
            @media screen and(max-width: $tablet) {
                margin-top: -100px;
            }
    
            @extend %full-width-padded;
            
            order: 2;
            display: block;
            padding: var(--padding);
    
            background-color: var(--backgroundColor);
    
            z-index: 2;
        }
    }
    
    
    .hero .content {
        h2 {
            --font-size: var(--fontSize-h4);
    
            @extend %titleDefault;
            color: var(--color);
    
            strong {
                --font-size: var(--fontSize-h1);
                @extend %titleHandwritten;
                display: block;
                text-transform: none;
            }
        }
    
        p {
            font-style: italic;
        }
    
        .wp-block-button {
            margin-top: var(--u6);
        }
    }
}