.videos {
    text-align: center;
    overflow: hidden;

    .intro {
        margin-bottom: var(--u4);
    }

    &__wrapper {
        max-width: 70%;

        position: relative;
        padding-bottom: 62%; /* 16:9 */
        height: 0;
        margin: 0 auto;
        @include tablet(1) {
            padding-bottom: 45%; /* 16:9 */
        }

        &.carousel__item {
            padding-bottom: 20%;

            // height: 400px;
            background: linear-gradient(102.56deg, #EC9393 0%, #ECC0C0 100%);

            transition: transform .6s ease-out;

            &:not(.tns-slide-active) {
                transform: scale(.8);
            }
        }
    }

    .carousel__wrapper {
        width: 80%;
        margin: 0 auto;

        * {
            overflow: visible;
        }
    }

    .carousel__controls {
        display: flex;
        justify-content: space-between;

        margin-top: var(--u6);

        a {
            --color: var(--darkPink);
            color: var(--color);

            @extend %link;
            @extend %all-caps;

            display: flex;

            &:first-child { span.icon { margin-right: var(--u1); } }
            &:last-child { span.icon { margin-left: var(--u1); } }

            &:focus {
                outline: none;
            }
        }

        &:focus {
            outline: none;
        }
    }

    &__wrapper iframe {
        position: absolute;
        top: 0; left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;

        padding-left: var(--u2);
        padding-right: var(--u2);

        @include tablet(1) {
            // max-width: calc(100% - 300px);
            padding: 0;
        }
    }
}