.videos {
    text-align: center;

    .intro {
        margin-bottom: var(--u4);
    }

    &__wrapper {
        position: relative;
        padding-bottom: 62%; /* 16:9 */
        height: 0;
        margin: 0 auto;
        @include tablet(1) {
            padding-bottom: 43%; /* 16:9 */
        }
    }
    &__wrapper iframe {
        position: absolute;
        top: 0; left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;

        padding-left: var(--u2);
        padding-right: var(--u2);

        @include tablet(1) {
            max-width: calc(100% - 300px);
            padding: 0;
        }
    }
}